---
## https://github.com/MISP/misp-modules

- name: Ensure pip cache directory exists
  ansible.builtin.file:
    dest: "/var/www/.cache/pip/http"
    owner: "{{ www_user }}"
    group: "{{ www_user }}"
    state: directory
    mode: '0755'

- name: RedHat | ensure permissions for pip cache
  ansible.builtin.file:
    dest: /usr/share/httpd/.cache/pip/http
    state: directory
    owner: "{{ www_user }}"
    mode: '0755'
    recurse: yes
  when: ansible_facts['os_family'] == 'RedHat'

- name: Install MISP modules (pip3)
  ansible.builtin.pip:
    name: misp-modules
    virtualenv: "{{ misp_virtualenv }}"
    virtualenv_python: "{{ python3_bin }}"
  environment:
    PATH: "{{ misp_virtualenv }}/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
  register: pkg_result
  until: pkg_result is success
  become: yes
  become_user: "{{ www_user }}"

- name: Debian | install dependencies for MISP modules (pip3) - post-install
  ansible.builtin.pip:
    name:
      - git+https://github.com/cartertemm/ODTReader.git
      - git+https://github.com/abenassi/Google-Search-API
      - git+https://github.com/SteveClement/trustar-python.git
      - git+https://github.com/sebdraven/pydnstrails.git
      - git+https://github.com/sebdraven/pyonyphe.git
    virtualenv: "{{ misp_virtualenv }}"
    virtualenv_python: "{{ python3_bin }}"
    chdir: "{{ mispmodules_rootdir }}/misp-modules"
  register: pkg_result
  until: pkg_result is success
  become: yes
  become_user: "{{ www_user }}"

- name: Systemd
  ansible.builtin.import_tasks: systemd-misp-modules.yml

- name: Check if misp modules is running
  ansible.builtin.shell: "ps axu |grep misp-modules"
  register: ps
  changed_when: false
  ignore_errors: true
- name: Start MISP modules app
  ansible.builtin.shell:  # noqa no-changed-when
    cmd: "{{ misp_virtualenv }}/bin/misp-modules -s > /tmp/misp-modules.start 2>&1 &"
  become: yes
  become_user: "{{ www_user }}"
  when: "'misp-modules' not in ps.stdout"
