---

- name: Creating mysql misp db
  mysql_db:
    name: misp
    state: present
    login_user: "{{ misp_mysql_user | default(omit) }}"
    login_password: "{{ misp_mysql_pass | default(omit) }}"
  no_log: "{{ misp_no_log }}"
- name: Check if mysql import done
  ansible.builtin.stat: path=/root/.mysql_misp_imported
  register: mispdbloaded

- name: Pre-mysql5.6 | force MyISAM mysql engine to support FULLTEXT indexes
  ansible.builtin.replace:
    dest: "{{ misp_rootdir }}/INSTALL/MYSQL.sql"
    regexp: "ENGINE=\\w+"
    replace: "ENGINE=MyISAM"
    mode: '0644'
    backup: yes
  when: ansible_distribution_major_version == '7'

- name: Importing mysql misp db template
  mysql_db:
    name: misp
    state: import
    target: "{{ misp_rootdir }}/INSTALL/MYSQL.sql"
    login_user: "{{ misp_mysql_user | default(omit) }}"
    login_password: "{{ misp_mysql_pass | default(omit) }}"
  no_log: "{{ misp_no_log }}"
  when: not mispdbloaded.stat.exists
- name: Add marker for mysql import
  ansible.builtin.file:
    dest: /root/.mysql_misp_imported
    mode: '0600'
    state: touch
  when: not mispdbloaded.stat.exists
- name: Creating mysql misp db user
  mysql_user:
    name: "{{ misp_db_user }}"
    password: "{{ misp_db_pass }}"
    priv: "*.*:USAGE/misp.*:ALL"
    state: present
    login_user: "{{ misp_mysql_user | default(omit) }}"
    login_password: "{{ misp_mysql_pass | default(omit) }}"
  no_log: "{{ misp_no_log }}"

- name: Ubuntu xenial
  when: ansible_distribution_release == 'xenial'
  block:
    - name: Temporary workaround - mysql57 disable strict mode
      ansible.builtin.copy:
        src: disable_strict_mode.cnf
        dest: /etc/mysql/conf.d/disable_strict_mode.cnf
        mode: 0644
      register: mysqlstrict
    - name: Restart mysql
      ansible.builtin.service: name=mysql state=restarted
      when: mysqlstrict.changed
