---

## https://github.com/ansible/ansible-modules-core/issues/2697
- name: Install python dependencies with pip - version enforced
  # pip: name="{{ item }}" extra_args='--no-input'
  ansible.builtin.pip:
    name: "{{ item.n }}"
    version: "{{ item.v }}"
    extra_args: "--exists-action=w"
    virtualenv: "{{ misp_virtualenv }}"
    virtualenv_python: "{{ python3_bin }}"
  with_items:
    - { n: cybox, v: "{{ misp_pip_cybox_version }}" }
    - { n: stix, v: "{{ misp_pip_stix_version }}" }
  environment:
    PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  become: yes
  become_user: "{{ www_user }}"

- name: Install python dependencies with pip - latest
  ansible.builtin.pip:
    name: ['mixbox', 'maec']
    extra_args: "--exists-action=w"
    virtualenv: "{{ misp_virtualenv }}"
    virtualenv_python: "{{ python3_bin }}"
  environment:
    PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  register: pkg_result
  until: pkg_result is success
  become: yes
  become_user: "{{ www_user }}"

- name: Install cti-python-stix2
  ansible.builtin.pip:
    name: "file://{{ misp_rootdir }}/app/files/scripts/cti-python-stix2"
    extra_args: "--exists-action=w"
    virtualenv: "{{ misp_virtualenv }}"
    virtualenv_python: "{{ python3_bin }}"
  environment:
    PATH: /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin
  register: pkg_result
  until: pkg_result is success
  become: yes
  become_user: "{{ www_user }}"
  when:
    # https://github.com/MISP/cti-python-stix2/blob/main/pyproject.toml
    - ansible_facts['python_version'] is version('3.7', '>=')
