{% if misp_base_port != 80 and misp_base_port != 443 %}
Listen {{ misp_base_port }}

{% endif %}
<VirtualHost *:{{ misp_base_port }}>
    ServerAdmin {{ misp_email_contact }}
    ServerName {{ misp_servername }}
    DocumentRoot {{ misp_rootdir }}/app/webroot
    <Directory {{ misp_rootdir }}/app/webroot>
        Options -Indexes
        AllowOverride all
        Order allow,deny
        allow from all
    </Directory>

{% if misp_fcgi_enable %}
    <IfModule !mod_php5.c>
        SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
        DirectoryIndex /index.php index.php
        <FilesMatch \.php$>
            SetHandler "proxy:fcgi://127.0.0.1:9000"
        </FilesMatch>
    </IfModule>

{% endif %}
    LogLevel warn
    ErrorLog {{ apache_logs }}/misp.local_error.log
    CustomLog {{ apache_logs }}/misp.local_access.log combined
    ServerSignature Off
    Header set X-Content-Type-Options nosniff
    Header set X-Frame-Options DENY
</VirtualHost>
