<?php
{{ ansible_managed | comment }}

$config = array (
  'debug' => 0,
  'MISP' =>
  array (
    'baseurl' => '{{ misp_base_url }}',
    'footermidleft' => '',
    'footermidright' => '',
    'org' => 'ORGNAME',
    'showorg' => true,
{% if (
      (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version | int >= 20) or
      (ansible_os_family == "RedHat" and ansible_distribution_major_version | int >= 8)
    ) %}
    'background_jobs' => true,
{% endif %}
    'cached_attachments' => true,
    'email' => '{{ misp_email_contact }}',
    'email_reply_to' => '{{ misp_email_reply_to }}',
    'contact' => '{{ misp_email_contact }}',
    'cveurl' => 'http://cve.circl.lu/cve/',
    'cweurl' => 'http://cwe.circl.lu/cwe/',
    'disablerestalert' => false,
    'default_event_distribution' => '1',
    'default_attribute_distribution' => 'event',
    'tagging' => true,
    'full_tags_on_event_index' => true,
    'footer_logo' => '',
    'take_ownership_xml_import' => false,
    'unpublishedprivate' => false,
    'disable_emailing' => false,
    'live' => true,
    'host_org_id' => 1,
    'proposals_block_attributes' => true,
    'language' => '{{ misp_language | default('eng') }}',
    'redis_host' => '{{ misp_redis_host | default('127.0.0.1') }}',
    'redis_port' => {{ misp_redis_port | default('6379') }},
    'redis_database' => '{{ misp_redis_database | default('13') }}',
    'redis_password' => '{{ misp_redis_password | default('') }}',
    'ssdeep_correlation_threshold' => 40,
    'extended_alert_subject' => false,
    'default_event_threat_level' => '4',
    'enableEventBlacklisting' => true,
    'enableOrgBlacklisting' => true,
    'log_client_ip' => true,
    'log_user_ips' => true,
    'log_user_ips_authkeys' => true,
    'log_new_audit' => true,
    'log_auth' => true,
    'block_event_alert' => false,
    'block_event_alert_tag' => 'no-alerts="true"',
    'block_old_event_alert' => false,
    'block_old_event_alert_age' => 180,
    'incoming_tags_disabled_by_default' => false,
    'uuid' => '{{ lookup('password', '/dev/null chars=ascii_letters,digits') | to_uuid }}',
    'external_baseurl' => '{{ misp_external_base_url | default(misp_base_url) }}',
    'osuser' => '{{ www_user }}',
    'default_event_tag_collection' => 0,
    'python_bin' => '{{ misp_virtualenv }}/bin/python',
    'enableEventBlocklisting' => true,
    'enableOrgBlocklisting' => true,
    'disableUserSelfManagement' => false,
    'disable_user_login_change' => false,
    'disable_user_password_change' => false,
    'disable_user_add' => false,
    'event_alert_republish_ban' => false,
    'event_alert_republish_ban_threshold' => 5,
    'event_alert_republish_ban_refresh_on_retry' => false,
    'store_api_access_time' => true,
    'user_email_notification_ban' => true,
    'user_email_notification_ban_time_threshold' => 120,
    'user_email_notification_ban_amount_threshold' => 10,
    'block_old_event_alert_by_date' => 30,
    'default_object_distribution' => 'event',
    'default_eventreport_distribution' => 'event',
    'newUserText' => 'Dear new MISP user,\\n\\nWe would hereby like to welcome you to the $org MISP community.\\n\\n Use the credentials below to log into MISP at $misp, where you will be prompted to manually change your password to something of your own choice.\\n\\nUsername: $username\\nPassword: $password\\n\\nIf you have any questions, don\'t hesitate to contact us at: $contact.\\n\\nBest regards,\\nYour $org MISP support team',
    'passwordResetText' => 'Dear MISP user,\\n\\nA password reset has been triggered for your account. Use the below provided temporary password to log into MISP at $misp, where you will be prompted to manually change your password to something of your own choice.\\n\\nUsername: $username\\nYour temporary password: $password\\n\\nIf you have any questions, don\'t hesitate to contact us at: $contact.\\n\\nBest regards,\\nYour $org MISP support team',
    'enableSightingBlocklisting' => true,
    'attachment_scan_module' => 'clamav',
  ),
  'GnuPG' =>
  array (
    'onlyencrypted' => false,
    'email' => '{{ misp_gpg_email }}',
    'homedir' => '{{ misp_gpg_homedir }}',
    'password' => '{{ misp_gpg_pass }}',
    'bodyonlyencrypted' => false,
    'obscure_subject' => true,
    'key_fetching_disabled' => false,
  ),
  'SMIME' => NULL,
  'Proxy' =>
  array (
    'host' => '{{ misp_proxy_host }}',
    'port' => {{ misp_proxy_port }},
    'method' => '{{ misp_proxy_method }}',
    'user' => '{{ misp_proxy_user }}',
    'password' => '{{ misp_proxy_pass }}',
  ),
  'SecureAuth' =>
  array (
    'amount' => 5,
    'expire' => {{ misp_secureauth_expire }},
  ),
  'Security' =>
  array (
    'level' => 'medium',
    'salt' => '{{ salt }}',
    'encryption_key' => '{{ salt2 }}',
    'cipherSeed' => '',
    'password_policy_length' => {{ misp_passreq_lenth }},
    'csp_enforce' => {{ misp_csp_enforce | default('true') }},
    'advanced_authkeys' => {{ misp_advanced_authkeys | default('false') }},
    //'auth'=>array('CertAuth.Certificate'), // additional authentication methods
    'log_each_individual_auth_fail' => false,
    'rest_client_baseurl' => '{{ misp_rest_client_baseurl | default('https://localhost') }}',
    'force_https' => true,
    'disable_browser_cache' => true,
    'check_sec_fetch_site_header' => true,
    'username_in_response_header' => true,
    'alert_on_suspicious_logins' => true,
    'self_registration_message' => 'If you would like to send us a registration request, please fill out the form below. Make sure you fill out as much information as possible in order to ease the task of the administrators.',
  ),
  'Session.defaults' => 'php',
  'Session.timeout' => 60,
  'Session.cookieTimeout' => 60,
  'Session.autoRegenerate' => false,
  'Session.checkAgent' => false,
  'site_admin_debug' => false,
  'Plugin' =>
  array (
    'Enrichment_services_enable' => true,
    'Enrichment_hover_enable' => true,
    'Enrichment_services_url' => 'http://127.0.0.1',
    'Enrichment_services_port' => 6666,
    'Enrichment_timeout' => 10,
    'Enrichment_hover_timeout' => 5,
    'Enrichment_clamav_connection' => 'unix:///var/run/clamav/clamd.ctl',
    'Import_services_enable' => true,
    'Import_services_url' => 'http://127.0.0.1',
    'Import_services_port' => 6666,
    'Import_timeout' => 10,
    'Export_services_enable' => true,
    'Export_services_url' => 'http://127.0.0.1',
    'Export_services_port' => 6666,
    'Export_timeout' => 10,
    'Cortex_services_enable' => false,
    'Cortex_services_url' => 'http://127.0.0.1',
    'Cortex_services_port' => 9000,
    'Cortex_timeout' => 120,
    'Sightings_range' => 365,
    'Sightings_anonymise' => false,
    'Sightings_policy' => 0,
    'Sightings_sighting_db_enable' => false,
    'Enrichment_hover_popover_only' => false,
    'Action_services_enable' => true,
    'Action_services_url' => 'http://127.0.0.1',
    'Action_services_port' => 6666,
    'Action_timeout' => 10,
    'Workflow_enable' => false,
    'Sightings_anonymise_as' => 0,
    'Sightings_enable_realtime_publish' => false,
    'Workflow_debug_url' => 'http://127.0.0.1:27051',
    'CTIInfoExtractor_enable' => false,
    'Enrichment_cuckoo_submit_enabled' => false,
    'Enrichment_vmray_submit_enabled' => false,
    'Enrichment_circl_passivedns_enabled' => false,
    'Enrichment_qrcode_enabled' => false,
    'Enrichment_ocr_enrich_enabled' => false,
    'Enrichment_pdf_enrich_enabled' => false,
    'Enrichment_docx_enrich_enabled' => false,
    'Enrichment_xlsx_enrich_enabled' => false,
    'Enrichment_pptx_enrich_enabled' => false,
    'Enrichment_ods_enrich_enabled' => false,
    'Enrichment_odt_enrich_enabled' => false,
    'Enrichment_joesandbox_submit_enabled' => false,
    'Enrichment_joesandbox_query_enabled' => false,
    'Enrichment_urlhaus_enabled' => false,
    'Enrichment_virustotal_public_enabled' => false,
    'Enrichment_apiosintds_enabled' => false,
    'Enrichment_urlscan_enabled' => false,
    'Enrichment_securitytrails_enabled' => false,
    'Enrichment_apivoid_enabled' => false,
    'Enrichment_assemblyline_submit_enabled' => false,
    'Enrichment_assemblyline_query_enabled' => false,
    'Enrichment_ransomcoindb_enabled' => false,
    'Enrichment_malwarebazaar_enabled' => false,
    'Enrichment_lastline_query_enabled' => false,
    'Enrichment_lastline_submit_enabled' => false,
    'Enrichment_sophoslabs_intelix_enabled' => false,
    'Enrichment_cytomic_orion_enabled' => false,
    'Enrichment_censys_enrich_enabled' => false,
    'Enrichment_trustar_enrich_enabled' => false,
    'Enrichment_recordedfuture_enabled' => false,
    'Enrichment_html_to_markdown_enabled' => false,
    'Enrichment_socialscan_enabled' => false,
    'Enrichment_passive_ssh_enabled' => false,
    'Enrichment_qintel_qsentry_enabled' => false,
    'Enrichment_mwdb_enabled' => false,
    'Enrichment_hashlookup_enabled' => false,
    'Enrichment_mmdb_lookup_enabled' => false,
    'Enrichment_ipqs_fraud_and_risk_scoring_enabled' => false,
    'Enrichment_clamav_enabled' => true,
    'Enrichment_jinja_template_rendering_enabled' => false,
    'Enrichment_hyasinsight_enabled' => false,
    'Enrichment_variotdbs_enabled' => false,
    'Enrichment_crowdsec_enabled' => false,
    'Enrichment_extract_url_components_enabled' => false,
    'Enrichment_ipinfo_enabled' => false,
    'Enrichment_whoisfreaks_enabled' => false,
    'Enrichment_ip2locationio_enabled' => false,
    'Enrichment_stairwell_enabled' => false,
    'Enrichment_google_threat_intelligence_enabled' => false,
    'Enrichment_vulnerability_lookup_enabled' => false,
    'Enrichment_vysion_enabled' => false,
    'Enrichment_mcafee_insights_enrich_enabled' => false,
    'Enrichment_threatfox_enabled' => false,
    'Enrichment_yeti_enabled' => false,
    'Enrichment_abuseipdb_enabled' => false,
    'Enrichment_vmware_nsx_enabled' => false,
    'Enrichment_sigmf_expand_enabled' => false,
    'Enrichment_google_safe_browsing_enabled' => false,
    'Enrichment_google_search_enabled' => false,
    'Enrichment_whois_enabled' => false,
    'Enrichment_triage_submit_enabled' => false,
    'Enrichment_virustotal_upload_enabled' => false,
    'Enrichment_malshare_upload_enabled' => false,
    'Enrichment_convert_markdown_to_pdf_enabled' => false,
    'Import_vmray_import_enabled' => false,
    'Import_lastline_import_enabled' => false,
    'Import_ocr_enabled' => false,
    'Import_cuckooimport_enabled' => false,
    'Import_goamlimport_enabled' => false,
    'Import_email_import_enabled' => false,
    'Import_mispjson_enabled' => false,
    'Import_openiocimport_enabled' => false,
    'Import_threatanalyzer_import_enabled' => false,
    'Import_csvimport_enabled' => false,
    'Import_cof2misp_enabled' => false,
    'Import_joe_import_enabled' => false,
    'Import_taxii21_enabled' => false,
    'Import_url_import_enabled' => false,
    'Import_vmray_summary_json_import_enabled' => false,
    'Import_import_blueprint_enabled' => false,
    'Export_cef_export_enabled' => false,
    'Export_mass_eql_export_enabled' => false,
    'Export_liteexport_enabled' => false,
    'Export_goamlexport_enabled' => false,
    'Export_threat_connect_export_enabled' => false,
    'Export_pdfexport_enabled' => false,
    'Export_threatStream_misp_export_enabled' => false,
    'Export_osqueryexport_enabled' => false,
    'Export_nexthinkexport_enabled' => false,
    'Export_vt_graph_enabled' => false,
    'Export_defender_endpoint_export_enabled' => false,
    'Export_virustotal_collections_enabled' => false,
    'Export_yara_export_enabled' => false,
    'Export_cisco_firesight_manager_ACL_rule_export_enabled' => false,
  ),
{% if (
      (ansible_distribution == 'Ubuntu' and ansible_distribution_major_version | int >= 20) or
      (ansible_os_family == "RedHat" and ansible_distribution_major_version | int >= 8)
    ) %}
  'SimpleBackgroundJobs' =>
  array (
    'supervisor_password' => '{{ misp_supervisorhttp_pass }}',
    'supervisor_user' => '{{ misp_supervisorhttp_user }}',
    'enabled' => true,
    'redis_host' => '{{ misp_redis_host | default('127.0.0.1') }}',
    'redis_port' => {{ misp_redis_port | default('6379') }},
    'redis_database' => 1,
    'redis_namespace' => 'background_jobs',
    'max_job_history_ttl' => 86400,
    'supervisor_host' => 'localhost',
    'supervisor_port' => 9001,
    'redis_password' => '{{ misp_redis_password | default('') }}',
  ),
{% endif %}
  'CertAuth' => NULL,
  'ApacheShibbAuth' => NULL,
  'ApacheSecureAuth' => NULL,
  'OidcAuth' => NULL,
  'AadAuth' => NULL,
);
