{{ ansible_managed | comment }}
# https://www.gnupg.org/documentation/manuals/gnupg/Unattended-GPG-key-generation.html
%echo Generating a basic OpenPGP key
Key-Type: {{ misp_gpg_key_type }}
Key-Length: {{ misp_gpg_key_lenght }}
Subkey-Type: {{ misp_gpg_subkey_type }}
Subkey-Length: {{ misp_gpg_subkey_lenght }}
Name-Real: {{ misp_gpg_name }}
Name-Comment: {{ misp_gpg_comment }}
Name-Email: {{ misp_gpg_email }}
Expire-Date: {{ misp_gpg_expire_date }}
Passphrase: {{ misp_gpg_pass }}
%pubring misp.pub
%secring misp.sec
# Do a commit here, so that we can later print "done" :-)
%commit
%echo done
