server { listen 80;

    root /var/www/MISP/app/webroot/;
    index index.php index.html index.htm;
    
    server_name _;
    
    location / {
            try_files \$uri \$uri/ /index.php;
    }
    
    location ~ \.php$ {
            try_files \$uri =404;
            fastcgi_param SCRIPT_FILENAME \$document_root\$fastcgi_script_name;
            include fastcgi_params;
            fastcgi_pass unix:/var/run/php5-fpm.sock;
    
    }
}
